# Database
DATABASE_URL="postgresql://username:password@localhost:5432/chef_na_sua_casa"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"

# Para desenvolvimento local, você pode usar:
# DATABASE_URL="postgresql://postgres:password@localhost:5432/chef_na_sua_casa"
